/* header */

/* main-contents */
.main-contents {
    background-image: url("../images/案内.jpg");
    color: pink;
    background-image: url("../images/01-fabric-shirt.png")
}


/* sub-contents */


/* footer */
